@model ArtGallery_ECommerce.ViewModels.StoreFrontIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<br/>
<br/>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <ul class="nav nav-pills nav-stacked">

            @if (Model.Category == null)
            {
                <li>
                    <a href="~/StoreFront/Index/1">Abstract</a>
                </li>
                <li>
                    <a href="~/StoreFront/Index/2">Art Nouveau</a>
                </li>
                <li>
                    <a href="~/StoreFront/Index/5">Expressionism</a>
                </li>
                <li>
                    <a href="~/StoreFront/Index/3">Impressionism</a>
                </li>
                <li>
                    <a href="~/StoreFront/Index/6">Photorealism</a>
                </li>
                <li>
                    <a href="~/StoreFront/Index/7">Pop Art</a>
                </li>
                <li>
                    <a href="~/StoreFront/Index/4">Realism</a>
                </li>
            }

            @if (Model.Category != null)
            {
                if (Model.Category.Name == "Abstract")
                {
                    <li class="active">
                        <a href="~/StoreFront/Index/1">Abstract</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="~/StoreFront/Index/1">Abstract</a>
                    </li>
                }
                if (Model.Category.Name == "Art Nouveau")
                {
                    <li class="active">
                        <a href="~/StoreFront/Index/2">Art Nouveau</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="~/StoreFront/Index/2">Art Nouveau</a>
                    </li>
                }
                if (Model.Category.Name == "Expressionism")
                {
                    <li class="active">
                        <a href="~/StoreFront/Index/5">Expressionism</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="~/StoreFront/Index/5">Expressionism</a>
                    </li>
                }
                if (Model.Category.Name == "Impressionism")
                {
                    <li class="active">
                        <a href="~/StoreFront/Index/3">Impressionism</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="~/StoreFront/Index/3">Impressionism</a>
                    </li>
                }
                if (Model.Category.Name == "Photorealism")
                {
                    <li class="active">
                        <a href="~/StoreFront/Index/6">Photorealism</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="~/StoreFront/Index/6">Photorealism</a>
                    </li>
                }
                if (Model.Category.Name == "Pop Art")
                {
                    <li class="active">
                        <a href="~/StoreFront/Index/7">Pop Art</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="~/StoreFront/Index/7">Pop Art</a>
                    </li>
                }
                if (Model.Category.Name == "Realism")
                {
                    <li class="active">
                        <a href="~/StoreFront/Index/4">Realism</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="~/StoreFront/Index/4">Realism</a>
                    </li>
                }
            }
        </ul>
    </div>
    </div>
    <div class="col-xs-12 col-md-9">
        <div class="row">
            @foreach (var product in Model.DisplayProducts)
            {
                <div class="col-xs-12 col-md-3">
                    <div class="thumbnail">
                        <img class="img-responsive" src= @product.FileImagePath>
                        <div class="caption text-center">
                            <p>
                                <b>Name:</b> <span>@product.Name</span>
                            </p>
                            <p>
                                <b>Price:</b> <span>@product.Price USD</span>
                            </p>
                            <p class="text-center">
                                @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = product.ProductId }, new { @class = "btn btn-info" })
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
