@model ArtGallery_ECommerce.Models.Categories
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Welcome To Painted Plunders!</h1>
    <h3>We're glad you're here.</h3>
</div>

<br />

<div class="w3-content">
    <img class="mySlides" src="~/Content/Images/oilBeginnersClassAd.jpg" alt="oil_paint_class" style="width:100%">
</div>

<br />
<br />

<h1 class="text-center">Click on a category below to get started</h1><br />

<div class="row justify-content-md-center mt-3">
    <div class="card border-primary mb-3 align-items-center" style="width: 270px;">
        <a href="~/StoreFront/Index/1">
            <div class="card-header text-center">Abstract</div>
            <div class="card-body">
                <img src="~/Content/Images/abstractIcon.jpg" width="240" height="183" alt="" />
            </div>
        </a>
    </div>
    <div class="card border-primary mb-3 align-items-center" style="width: 270px">
        <a href="~/StoreFront/Index/2">
            <div class="card-header text-center">Art Nouveau</div>
            <div class="card-body">
                <img src="~/Content/Images/artNouveauIcon.jpg" width="240" height="210" alt="" />
            </div>
        </a>
    </div>
    <div class="card border-primary mb-3 align-items-center" style="max-width: 270px;">
        <a href="~/StoreFront/Index/5">
            <div class="card-header text-center">Expressionism</div>
            <div class="card-body">
                <img src="~/Content/Images/expressionismIcon.jpg" width="220" height="210" alt="" />
            </div>
        </a>
    </div>
    <div class="card border-primary mb-3 align-items-center" style="max-width: 270px;">
        <a href="~/StoreFront/Index/3">
            <div class="card-header text-center">Impressionism</div>
            <div class="card-body">
                <img src="~/Content/Images/impressionismIcon.jpg" width="240" height="183" alt="" />
            </div>
        </a>
    </div>
</div>
<div class="row justify-content-md-center mt-3">
    <div class="card border-primary mb-3 align-items-center" style="max-width: 270px;">
        <a href="~/StoreFront/Index/6">
            <div class="card-header text-center">Photorealism</div>
            <div class="card-body">
                <img src="~/Content/Images/photorealismIcon.jpg" width="240" height="183" alt="" />
            </div>
        </a>
    </div>
    <div class="card border-primary mb-3 align-items-center" style="max-width: 270px;">
        <a href="~/StoreFront/Index/7">
            <div class="card-header text-center">Pop Art</div>            
            <div class="card-body">
                <img src="~/Content/Images/popArtIcon.png" width="240" height="183" alt="" />
            </div>
        </a>
    </div>
    <div class="card border-primary mb-3 align-items-center" style="max-width: 270px;">
        <a href="~/StoreFront/Index/4">
            <div class="card-header text-center">Realism</div>
            <div class="card-body">
                <img src="~/Content/Images/realismIcon.jpeg" width="240" height="183" alt="" />
            </div>
        </a>
    </div>
</div>
<div class="row justify-content-md-center mt-3">
    <div class="card border-primary mb-3 align-items-center" style="max-width: 270px;">
        <a href="~/StoreFront/Index">
            <div class="card-header text-center">View All</div>
            <div class="card-body">
                <img src="~/Content/Images/vewAllicon.jpeg" width="240" height="183" alt="" />
            </div>
        </a>
    </div>
</div>
